<div class="container">
    <div class="spinner-border m-5" role="status" *ngIf="isLoading"></div>
    <div class="cards-holder row">
        <div class="card col-6 col-md-5" style="width: 18rem;"  *ngFor="let photo of photos; let i=index">
            <img src="{{'../../../assets/images/photo-' + photo._id +  '.jpg'}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="title-stars">
                    <h5 class="card-title">{{photo.title}}</h5>
                    <i class="fa fa-scissors"></i>
                </div>
                <a href="#" class="btn btn-primary">Clear Vote</a>
            </div>
        </div>
    </div>


</div>
