<div class="cont">
    <div class="spinner-border m-5" role="status" *ngIf="isLoading"></div>

    <div class="user-btns" *ngIf="!showPhotos">
        <button type="button" class="btn btn-lg btn-primary new-user" (click)="onNewUser()">New User</button>
        <button type="button" class="btn btn-lg btn-primary" *ngIf="showCurrentUser" (click)="onCurrentUser()">Current User</button>
    </div>

    <div class="vote-btns" *ngIf="showPhotos">
        <button type="button" class="btn btn-outline-secondary" (click)="showPhotos = !showPhotos">BACK</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitVotes()">SUBMIT VOTES</button>
    </div>

    <div class="cards-holder row" *ngIf="showPhotos">
        <div class="card col-sm-2" style="width: 18rem;"  *ngFor="let photo of photos; let i=index">
            <img src="{{'../../../assets/images/photo-' + photo._id +  '.jpg'}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="title-stars">
                    <ngb-rating 
                        [(rate)]="photo.photoRating" 
                        [starTemplate]="t" 
                        [readonly]="false"
                        (rateChange)="onChangeRate(i)"
                        max="5">
                    </ngb-rating>
                    <h5 class="card-title">{{photo.title}}</h5>
                </div>
                <button type="button" class="btn btn-sm btn-primary" (click)="onClearVote(i)">Clear Vote</button>
            </div>
        </div>
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span 
            class="half" 
            [style.width.%]="fill">&hearts;
        </span>&hearts;
    </span>
</ng-template>