.row {
    justify-content: space-around;
}

.card {
    margin: 20px;
}

.container {
    margin: 60px auto;
}

.card.col-6.col-md-5 {
    padding: 0px;
}

.spinner-border.m-5 {
    display: flex !important;
    margin: 0 auto !important;
}

.title-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ngb-rating.d-inline-flex {
    margin-top: -10px;
}

.user-btns {
    display: flex;
    justify-content: center;
}

.new-user {
    margin-right: 10px;
}

/* Heart Icons */
.star {
    position: relative;
    display: inline-block;
    font-size: 23px;
    color: #d3d3d3;
}

.full {
    color: red;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}