
$pinkFade: #fce4ec;
$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$indigoHeader: #3f51b5;
$textColor: #fff;
$primary: #e91e63;
$primaryHover: #d81b60;
$heartColor: red;

%starShared{
    position: relative;
    display: inline-block;
    font-size: 23px;
    color: #e2e2e2;
}

%halfShared {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: $heartColor;
}

@mixin flexJustify($flex, $justify) {
    display: $flex;
    justify-content: $justify;
}

@mixin primaryBtn() {
    background-color: $primary;
    border: $primary;

    &:hover {
        background-color: $primaryHover;
    }
}

@mixin spinner($flex, $margin) {
    display: $flex;
    margin: $margin;
}

html,
* {
    font-family: $font !important;
}
