<div class="jumbotron jumbotron">
    <h1 class="display-4">Photo Contest</h1>
    <p class="lead">A sample photo contest platform using Angular. Users can vote, unvote and browse top photo results. </p>
    <hr class="my-4">
    <p>Charlene Buena's Frontend Technical Test output for Pixerf</p>
    <div class="actions">
        <button class="btn btn-primary btn-md new-voter" type="button" (click)="onVoteClick()">Vote</button>
        <button class="btn btn-primary btn-md" type="button" (click)="onWinnersClick()">Winners</button>
    </div>
</div>
