@import '../../../styles';

.jumbotron {
    border-radius: 0 !important;
    background: $indigoHeader;
    margin: 0px;
    color: $textColor;
}

.btn-primary {
    @include primaryBtn();

    &.new-voter {
        margin-right: 5px;
    }
}