<div class="cont-wrapper">
    <div class="spinner-border m-5" role="status" *ngIf="isLoading"></div>

    <div class="cont" *ngIf="!isLoading">
        <div class="card-holder row" *ngFor="let orPhoto of overRate; let i=index">
            <div class="card col-sm" style="width: 18rem;">
                <img src="{{'../../../assets/images/photo-' + orPhoto._id +  '.jpg'}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="title-stars" >
                        <ngb-rating 
                            [(rate)]="orPhoto.average" 
                            [starTemplate]="t" 
                            [readonly]="true"
                            max="5">
                        </ngb-rating>
                        <h5 class="card-title">{{orPhoto.title}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
            <span 
                class="half" 
                [style.width.%]="fill">&hearts;
            </span>&hearts;
        </span>
    </ng-template>
</div>