@import '../../../styles';

.cont {
    padding: 60px 50px;
}

.card {
    margin: 10px 0;
    padding: 0px;
}

.card-holder {
    margin: 0 auto;
    width: 55%;
}

.spinner-border.m-5 {
    display: flex !important;
    margin: 0 auto !important;
}

/* Heart Icons */
.star {
    position: relative;
    display: inline-block;
    font-size: 23px;
    color: #d3d3d3;
}

.full {
    color: red;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}