@import '../../../styles';

.cont {
    padding: 60px 50px;
}

.card {
    margin: 10px 0;
    padding: 0px;
}

.card-holder {
    margin: 0 auto;
    width: 55%;
}

.spinner-border.m-5 {
    @include spinner(flex !important, 0 auto !important);
    
}

.star {
    @extend %starShared;
}

.full {
    color: $heartColor;
}

.half {
    @extend %halfShared;
}