<div class="cont">
    <div class="card-holder row">
        <div class="card col-sm-2" style="width: 18rem;">
            <img src="../../../assets/images/photo-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="title-stars" >
                    <ngb-rating 
                        [(rate)]="currentRate" 
                        [starTemplate]="t" 
                        [readonly]="true"
                        max="5">
                    </ngb-rating>
                    <h5 class="card-title">Sample Title</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
        <span 
            class="half" 
            [style.width.%]="fill">&hearts;
        </span>&hearts;
    </span>
</ng-template>